
{% extends "layouts/main.html" %}

{% block pageTitle %}
User research tasks – GOV.UK Account prototype
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Round 2</span>
<h1 class="govuk-heading-xl">User testing</h1>

    <h2 class="govuk-heading-m">Task 1</h2>
    
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Start task",
          href: "/user-research/round2/Task-1/create-account.html"
        }) }}
        {% from "govuk/components/details/macro.njk" import govukDetails %}


        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Links
            </span>
          </summary>
        
          <div class="govuk-details__text">
            <p class="govuk-heading-s">Auth</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/user-research/round2/Task-1/create-account" class="govuk-link govuk-link--no-visited-state">Create a GOV.UK One Login or sign in</a></li>
              <li><a href="/user-research/round2/Task-1/enter-email" class="govuk-link govuk-link--no-visited-state">Enter your email address</a></li>
              <li><a href="/user-research/round2/Task-1/enter-password" class="govuk-link govuk-link--no-visited-state">Enter your password</a></li>
              <li><a href="/user-research/round2/Task-1/technical-error" class="govuk-link govuk-link--no-visited-state">Technical error</a></li>
            </ul>
          </div>
        
          <div class="govuk-details__text">
            <p class="govuk-heading-s">GOV.UK</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/user-research/round2/Task-1/contact-triage" class="govuk-link govuk-link--no-visited-state">Get help with GOV.UK One Login</a></li>
            </ul>
          </div>

          <div class="govuk-details__text">
            <p class="govuk-heading-s">Contact form</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/user-research/round2/Task-1/send-email/report-problem-or-give-feedback" class="govuk-link govuk-link--no-visited-state">Report a problem or give feedback</a></li>
              <li><a href="/user-research/round2/Task-1/send-email/problem-signing-in" class="govuk-link govuk-link--no-visited-state">A problem signing in to your GOV.UK One Login</a></li>
              <li><a href="/user-research/round2/Task-1/send-email/sign-in-technical-problem" class="govuk-link govuk-link--no-visited-state">There was a technical error</a></li>
              <li><a href="/user-research/round2/Task-1/send-email/feedback" class="govuk-link govuk-link--no-visited-state">A suggestion or feedback</a></li>
              <li><a href="/user-research/round2/Task-1/send-email/confirmation" class="govuk-link govuk-link--no-visited-state">Confirmation</a></li>
            </ul>
          </div>
        
        </details>
    
{% endblock %}


{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}
