{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Sorry, we cannot prove your identity
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/url/of/next/page" method="post">

      <h1 class="govuk-heading-l">
      Sorry, we cannot prove your identity

      </h1>

      <p>This is because you did not answer some of the security questions correctly.</p>

      <p>To keep your information safe, we cannot tell you what these questions were or what the answers should have been.</p>

      <h2 class="govuk-heading-m">What you can do</h2>

      <p>Continue to the service you were trying to use and look for other ways to prove your identity.</p>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        

      </form>

      <a href="#" class="govuk-link">Contact the GOV.UK account team (opens in a new tab)</a>

    </div>
  </div>

{% endblock %}
