{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Continue to the service you want to use
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/page-index" method="post">

      <h1 class="govuk-heading-l">
        Continue to the service you want to use

      </h1>

      <p>You've successfully proved your identity. You can now continue to the service you want to use.</p>

      <p>Some of the information you shared when you proved your identity might be used to automatically fill in forms within the service.</p>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
