{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Passport and KBV Introduction
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/page-index/passport-cri/enter-passport-details" method="post">

        <h1 class="govuk-heading-l">
          Enter your passport details and answer security questions
  
        </h1>
        <p class="govuk-body">To prove your identity this way, you’ll need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your UK passport details (including your name, passport number and the date your passport expires)</li>
          <li>your current home address (you might also need your previous address if you’ve recently moved)</li>
          <li>to answer some questions that only you should know the answers to</li>
        </ul>
        
        <h2 class="govuk-heading-m">What would you like to do?</h2>
        
          <input type="hidden" name="_csrf" value="QfSyqiVk-wX2LQlfP4SiT_g6CxQUpMPisV5E">
          <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="journey" name="journey" type="radio" value="next" aria-describedby="journey-item-hint">
                <label class="govuk-label govuk-radios__label" for="journey"> Continue to prove your identity this way </label>
                <div id="journey-item-hint" class="govuk-hint govuk-radios__hint"> You’ll need a UK passport </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="journey-2" name="journey" type="radio" value="end" aria-describedby="journey-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="journey-2"> Prove your identity another way </label>
                <div id="journey-2-item-hint" class="govuk-hint govuk-radios__hint"> Continue to the service you want to use and look for other ways to prove your identity </div>
              </div>
            </div>
          </div>
          
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
