{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Create Password
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/user-research/round2/Task-1/send-email/report-problem-or-give-feedback" target="_blank">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




        <input type="hidden" name="_csrf" value="R5llNOhf-XOT-AHiIgPkphEHnEIHIHcEh0Wo">
        
            
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">
                
        
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--l" for="password">
            Enter your password
          </label>
      
        
        <div class="govuk-input__wrapper"><input class="govuk-input govuk-!-width-two-thirds govuk-password-input govuk-input--with-password" id="password" name="password" type="password" spellcheck="false" aria-describedby="password-hint" autocomplete="new-password" aria-autocomplete="list"><span class="govuk-input__icon govuk-input__icon--right" onclick="togglePasswordVisibility('password', this)"></span><span class="govuk-visually-hidden" aria-live="polite">Your password is hidden</span></div>
        
        </div>
        
            </div>

      
 <form class="form" action="/user-research/round2/Task-1/technical-error" method="post">


        <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
          Continue
      </button>
      
      <p class="govuk-body">
        <a href="#" class="govuk-link" rel="noreferrer noopener">I’ve forgotten my password</a>
    </p>

      </form>

    </div>
  </div>


{% endblock %}

{% block footer %}

{% include "includes/footer.njk" %}

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/showPassword.js"></script>
  <script>
    // Initialize the ShowPassword module
    var showPasswordElements = document.querySelectorAll('[data-module="show-password"]');
    for (var i = 0; i < showPasswordElements.length; i++) {
      new window.GOVUK.Modules.ShowPassword(showPasswordElements[i]).init();
    }
  </script>
{% endblock %}


