{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, there is a problem with the service
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/user-research/round2/Task-1/send-email/report-problem-or-give-feedback" target="_blank">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="#" method="post">

      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p>We are currently experiencing technical difficulties.</p>

      <p>We don't know when the service will be available again.</p>

      <p>Please try again later.</p>

      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}

{% include "includes/footer.njk" %}

{% endblock %}
