{% extends "layouts/main.html" %}

{% block pageTitle %}
Expanding contact example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "mortgage-payments",
          fieldset: {
            legend: {
              text: "How much of your loan do you pay back every month?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Think about the amount you agreed to pay back every month on a personal loan. This does not include hire purchase agreements, second mortgages, home credit loans or student loans. You can find this amount on your loan agreement."
          },
          items: [
            {
              value: "UP TO £200",
              text: "UP TO £200"
            },
            {
              value: "OVER £200 UP TO £400",
              text: "OVER £200 UP TO £400"
            },
            {
              value: "OVER £400 UP TO £600",
              text: "OVER £400 UP TO £600"
            },
            {
              value: "OVER £600 UP TO £800",
              text: "OVER £600 UP TO £800"
            },
            { 
              value: "NONE OF THE ABOVE / DOES NOT APPLY",
              text: "NONE OF THE ABOVE / DOES NOT APPLY"
            }
          ]
        }) }}

      
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p><a class="govuk-link" href="#">I cannot answer this question</a></p>

    </div>
  </div>

  <details class="govuk-details govuk-!-margin-top-6">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Contact us for help</span>
    </summary>
    
        <div class="govuk-details__text">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Web chat</h2>
            <div id="antenna-web-chat">
                <div id="antenna-web-chat-link" style="display: block;">
                    <p class="govuk-body govuk-!-margin-bottom-0">Get some help by messaging an agent online.</p>
                    <a id="antenna-web-chat-button" href="#">Start web chat (opens in a new window)</a>
                </div>
                <link href="" rel="stylesheet">
  
                <div id="antenna-web-chat-closed" style="display: none;">Web chat is now closed. 
  Come back Monday to Friday, 8am to 6pm or Saturday, 8am to 2pm. Or contact us using one of the ways below.</div>
                <div id="antenna-web-chat-busy" style="display: none;">All our web chat agents are busy helping other people.
  Please try again later or contact us using one of the ways below.</div>
                <div id="antenna-web-chat-no-agents" style="display: none;">No agents are available, please try again later.</div>
            </div>
        </div>
    
    
    
        <div class="govuk-details__text">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Telephone</h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Talk to one of our agents now over the phone.</p>
  
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Benefit appeals helpline (England and Wales)</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 123 1142</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 8am to 5pm</p>
            <p class="govuk-body govuk-!-margin-bottom-2"></p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                <a rel="noopener noreferrer" class="govuk-link" href="#" target="_blank">Find out about call charges</a>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">Email:
                <a href="#" class="govuk-link">Contactsscs@justice.gov.uk</a>
            </p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Benefit appeals helpline (for Welsh Speakers)</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 303 5170</p>
            <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 8:30am to 5pm</p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                <a rel="noopener noreferrer" class="govuk-link" href="#" target="_blank">Find out about call charges</a>
            </p>
            
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Benefit appeals helpline (Scotland)</h3>
            <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 790 6234</p>
            <p class="govuk-body govuk-!-margin-bottom-2">Monday to Friday, 8:30am to 5pm</p>
            <p class="govuk-body">
                <a rel="noopener noreferrer" class="govuk-link" href="#" target="_blank">Find out about call charges</a>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">Email:
                <a href="#" class="govuk-link">SSCSA-Glasgow@justice.gov.uk</a>
            </p>
  
        </div>
    
  </details>
    
    </div>
</div>




{% endblock %}

