{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<details class="govuk-details"  open>
  <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">Contact us for help</span>
  </summary>
  
      <div class="govuk-details__text">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Web chat</h2>
          <div id="antenna-web-chat">
              <div id="antenna-web-chat-link" style="display: block;">
                  <p class="govuk-body govuk-!-margin-bottom-0">Get some help by messaging an agent online.</p>
                  <a id="antenna-web-chat-button" href="#">Start web chat (opens in a new window)</a>
              </div>
              <link href="" rel="stylesheet">

              <div id="antenna-web-chat-closed" style="display: none;">Web chat is now closed. 
Come back Monday to Friday, 8am to 6pm or Saturday, 8am to 2pm. Or contact us using one of the ways below.</div>
              <div id="antenna-web-chat-busy" style="display: none;">All our web chat agents are busy helping other people.
Please try again later or contact us using one of the ways below.</div>
              <div id="antenna-web-chat-no-agents" style="display: none;">No agents are available, please try again later.</div>
          </div>
      </div>
  
  
  
      <div class="govuk-details__text">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Telephone</h2>
          <p class="govuk-body govuk-!-margin-bottom-2">Talk to one of our agents now over the phone.</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Benefit appeals helpline (England and Wales)</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 123 1142</p>
          <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 8am to 5pm</p>
          <p class="govuk-body govuk-!-margin-bottom-2"></p>
          <p class="govuk-body govuk-!-margin-bottom-2">
              <a rel="noopener noreferrer" class="govuk-link" href="#" target="_blank">Find out about call charges</a>
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">Email:
              <a href="#" class="govuk-link">Contactsscs@justice.gov.uk</a>
          </p>
          
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Benefit appeals helpline (for Welsh Speakers)</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 303 5170</p>
          <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 8:30am to 5pm</p>
          <p class="govuk-body govuk-!-margin-bottom-2">
              <a rel="noopener noreferrer" class="govuk-link" href="#" target="_blank">Find out about call charges</a>
          </p>
          
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Benefit appeals helpline (Scotland)</h3>
          <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 790 6234</p>
          <p class="govuk-body govuk-!-margin-bottom-2">Monday to Friday, 8:30am to 5pm</p>
          <p class="govuk-body">
              <a rel="noopener noreferrer" class="govuk-link" href="#" target="_blank">Find out about call charges</a>
          </p>
          <p class="govuk-body govuk-!-margin-bottom-2">Email:
              <a href="#" class="govuk-link">SSCSA-Glasgow@justice.gov.uk</a>
          </p>

      </div>
  
</details>

{% endblock %}
