{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exploratory concepts – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Desk research</span>
      <h1 class="govuk-heading-xl">Get help</h1>

      <p class="govuk-body">Examples of what's already in use across government.</p>

    </div>

      <div class="govuk-grid-column-one-third">

        <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
          <h2 class="govuk-heading-m" id="subsection-title">
            Useful links
          </h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="https://design-system.service.gov.uk/patterns/contact-a-department-or-service-team/" target="_blank">
                  Contact a department or service team
                </a>
                
              </li>
              <li>
                <a href="https://design-system.dwp.gov.uk/patterns/contact-a-service" target="_blank">
                  Contact a service (DWP)
                </a>
                
              </li>
              <li>
                <a href="https://design-patterns.service.justice.gov.uk/patterns/get-help/" target="_blank">
                  Get help pattern (MOJ)
                </a>
                
              </li>
              <li>
                <a href="https://github.com/hmcts/design-system/tree/master/app/views/patterns/get-support" target="_blank">
                  Get support (HMCTS)
                </a>
                
              </li>
            </ul>
      
           
          </nav>
        </aside>
      
      </div>
      </div>


      <span class="govuk-caption-m govuk-!-margin-top-5">Approach 1</span>
      <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Link users to support options outside the service</h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break">



      <h1 class="govuk-heading-l">Text link</h1>
      <p class="govuk-body">Currently in use across HMRC services. </p> <p> A similar approach is also used on some GOV.UK One Login pages.</p>
      <p class="govuk-body">Placed at the bottom of each page (usually below) the primary button.</p>
 
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research//text-link-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--s" src="/pattern-work/desk-research/get-help-text-link" loading="eager" id="iFrameResizer0" style="overflow: auto; height: 120px;"></iframe>
      </div>

    </div>
  </div><br>
  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Inset text link</h1>
      <p class="govuk-body">Variation of HMRC text link using inset component.</p>
      <p class="govuk-body">Placed at the bottom of each page (usually below) the primary button.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research/inset-link-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--s" src="/pattern-work/desk-research/get-help-inset-link" loading="eager" id="iFrameResizer0" style="overflow: auto; height: 120px;"></iframe>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Banner</h1>
      <p class="govuk-body">Currently in use across the register to vote service.</p>
      <p class="govuk-body">Placed at the bottom of each page, just above the footer. CTA is right-aligned</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research/banner-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--s" src="/pattern-work/desk-research/get-help-inverse-link" loading="eager" id="iFrameResizer0" style="overflow: auto; height: 120px;"></iframe>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Footer</h1>
      <p class="govuk-body">Currently in use across GOV.UK One Login product pages.</p>
      <p class="govuk-body">Secondary navigation used to provide route to support</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research/footer-link-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <!-- First iframe with custom height class -->
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--footer" src="/pattern-work/desk-research/get-help-link-footer" loading="eager" id="iFrameResizer0"></iframe>
      </div>
    </div>
  </div>
  
  

  <span class="govuk-caption-m govuk-!-margin-top-5">Approach 2</span>
  <h1 class="govuk-heading-m govuk-!-margin-bottom-6">Share support options with users in the service</h1>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Expanding contact information</h1>
      <p class="govuk-body">Currently in use across HMCTS, DWP and MOJ services.</p>
      <p class="govuk-body">Placed at the bottom of each page (usually below) the primary button.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research/expanding-contact-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <!-- Second iframe with custom height class -->
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--contact-info" src="/pattern-work/desk-research/get-help-details" loading="eager" id="iFrameResizer1"></iframe>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Above footer</h1>
      <p class="govuk-body">Currently in use across DWP services.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research/above-footer-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--above-footer-info" src="/pattern-work/desk-research/get-help-above-footer" loading="eager" id="iFrameResizer1"></iframe>
      </div>
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Footer</h1>
      <p class="govuk-body">Currently in use across DWP services.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/desk-research/footer-help-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--footer-info" src="/pattern-work/desk-research/get-help-footer" loading="eager" id="iFrameResizer1"></iframe>
      </div>
    </div>
  </div>
  


  
{% endblock %}
