{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Identity Screener
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You must have a photo ID to prove your identity with GOV.UK One Login
      </h1>

      <p>You can only prove your identity with GOV.UK One Login if you have one of the following types of photo ID.</p>

      
      <h2 class="govuk-heading-m govuk-!-padding-top-10 govuk-!-margin-bottom-1">UK photocard driving licence</h2>
      <p>You’ll need a valid full or provisional driving licence with your photo on it.</p>

      <h2 class="govuk-heading-m govuk-!-padding-top-10 govuk-!-margin-bottom-1">UK or non-UK biometric passport</h2>
      <p>Biometric passports (or ‘ePassports’) have a small rectangular symbol on the front cover. You can use them to go through eGates at airports and train stations.</p>


      <div class="govuk-inset-text">
        If you have an expired UK biometric passport, you can still use it to prove your identity up to 18 months after the expiry date.
      </div>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "have-photo-id",
        fieldset: {
          legend: {
            text: "Do you have one of these types of photo ID?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}


      <form class="form" action="/page-index/authentication/create-account" method="post">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
