{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Identity Welcome
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prove your identity with GOV.UK One Login

      </h1>

      <p>It will take you about 10 minutes to prove your identity this way.</p>

      <div class="govuk-inset-text">
        This service is also available in <a href="#" class="govuk-link">Welsh (Cymraeg)</a>. The GOV.UK ID Check app is currently only available in English.
      </div>

      <p class="govuk-body">You’ll need:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>a GOV.UK One Login – we’ll ask you to sign in or create one when you continue</li>
  <li>your photo ID</li>
  <li>your current home address (you might also need your previous address if you’ve recently moved)</li>
</ul>

<p>We’ll only use the information you give us to make sure that you are who you say you are.</p>

      <form class="form" action="/page-index/pre-auth/id-screener" method="post">

       

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
