{% extends "layouts/main.html" %}

{% block pageTitle %}
 Contact triage
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/exploratory-concepts/v2/problem-creating-contact-options" method="post" novalidate data-validate='my-form-validation'>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Contact GOV.UK One Login</span>
    <h1 class="govuk-heading-l"> What are you contacting us about?</h1>
  </legend>
  {{ govukRadios({
    idPrefix: "contact-about",
    name: "contact-about",
    value: "A problem creating a GOV.UK One Login",
    items: [
      {
        value: "A problem creating a GOV.UK One Login",
        text: "A problem creating a GOV.UK One Login"
      },
      {
        value: "Option 2",
        text: "Option 2"
      },
      {
        value: "Option 3",
        text: "Option 3"
      },
      {
        value: "Option 4",
        text: "Option 4"
      },
      {
        value: "Option 5",
        text: "Option 5"
      },
      {
        value: "Option 6",
        text: "Option 6"
      }
    ]
  }) }}
</fieldset>

      

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>
</div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}


