{% extends "layouts/main.html" %}

{% block pageTitle %}
 Guidance landing page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "About GOV.UK One Login",
        href: "#"
      },
      {
        text: "How to use GOV.UK One Login"
      }
    ]
  }) }}

{% endblock %}





{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="gem-c-title__text govuk-heading-xl">
        How to use GOV.UK One Login
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-8">Find out about GOV.UK One Login, including setting up and managing your account and proving your identity.</p>
      <ul class="govuk-list">
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Setting up your GOV.UK One Login</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help creating your GOV.UK One Login and signing in</p>
        </li>
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Managing your GOV.UK One Login</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help updating your details, deleting your account and checking your identity status</p>
        </li>
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Proving your identity with the GOV.UK ID Check app</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help...</p>
        </li>
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Proving your identity with the Post Office</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help...</p>
        </li>
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Entering your photo ID details</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help...</p>
        </li>
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Entering your address</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help...</p>
        </li>
        <li>
          <a href="/exploratory-concepts/v2/managing-guidance2" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Answering security questions</a>
          <p class="govuk-body govuk-!-margin-top-1">Get help...</p>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Further help</h2>

<p class="govuk-body"><a class="govuk-link" href="/exploratory-concepts/v2/start">Contact GOV.UK One Login for help</a>.</p>



    </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
