{% extends "layouts/main.html" %}

{% block pageTitle %}
  Problem creating account contact options
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Contact GOV.UK One Login</span>
<h1 class="govuk-heading-l">A problem creating a GOV.UK One Login</h1>

<p class="govuk-body">Before you contact us, read our help and guidance on:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="/exploratory-concepts/v2/managing-guidance2">guidance link 1</a></li>
  <li><a class="govuk-link" href="/exploratory-concepts/v2/managing-guidance2">guidance link 2</a></li>
  <li><a class="govuk-link" href="/exploratory-concepts/v2/managing-guidance2">guidance link 3</a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break">

<div class="govuk-inset-text">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Office hours</h2>
  We can only respond to your support queries during office hours. Our office hours are 9:30am to 5:30pm, Monday to Friday.
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<h2 class="govuk-heading-l">Webchat</h2>

<p class="govuk-body"><a href="/exploratory-concepts/v2/webchat-landing" class="govuk-link">Use our webchat service</a> to speak to an advisor online.</p>

<p class="govuk-body">Something about average wait times.</p>

<h2 class="govuk-heading-l">Email</h2>

<p class="govuk-body"><a href="/exploratory-concepts/v2/email-service/problem-creating-account" class="govuk-link">Use our email service</a> to ask for help.</p>

<p class="govuk-body">When you get in touch during office hours, we’ll try to reply within 2 working days.</p>

<h2 class="govuk-heading-l">Phone</h2>

<p class="govuk-body">Call this number to speak with an advisor.</p>

<div class="contact">
  <p>Telephone:<br><strong>1234 567 8910</strong></p>
  <p>Outside UK:<br><strong>+44 123 456 7891</strong></p>
</div>






    </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
