{% extends "layouts/main.html" %}

{% block pageTitle %}
  Contact GOV.UK One Login for help
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "About GOV.UK One Login",
        href: "#"
      },
      {
        text: "How to use GOV.UK One Login",
        href: "/exploratory-concepts/v2/guidance-hub"
      },
      {
        text: "Contact GOV.UK One Login for help"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Contact GOV.UK One Login for help
      </h1>

      <p>You can contact GOV.UK One Login if you need help with things like:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>creating a GOV.UK One Login</li>
        <li>another thing</li>
        <li>something else</li>
      </ul>

      <div class="govuk-inset-text">
        <p class="govuk-body">Before you contact us, read our <a class="govuk-link" href="/exploratory-concepts/v2/guidance-hub"> help and guidance on how to use GOV.UK One Login</a>.</p>

      </div>

      {{ govukButton({
        text: "Find contact details",
        href: "/exploratory-concepts/v2/contact-triage",
        isStartButton: true
      }) }}

    </div>

    
  </div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
