{% extends "layouts/main.html" %}

{% block pageTitle %}
Technical error
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text >
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="#" method="post">

      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p>We cannot prove your identity right now.</p>

      <h2 class="govuk-heading-m">What you can do</h2>

      <p>Continue to the service you were trying to use and look for other ways to prove your identity.</p>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        

      </form>

      <div class="govuk-body govuk-!-margin-top-5">
        <a class="govuk-link" href="/exploratory-concepts/v2/contact-triage" target="_blank" rel="noopener noreferrer" id="getHelp">
          Get help with GOV.UK One Login (opens in new tab)
        </a>
      </div>
      
      
    </div>
  </div>

  
{% endblock %}

{% block footer %}


<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
