{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Address Introduction
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/page-index/fraud-cri/fraud-check" method="post">

      <h1 class="govuk-heading-l">Confirm your addresses</h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Make sure your details are correct before you continue.
        </strong>
      </div>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Current home address
          </dt>
          <dd class="govuk-summary-list__value">
            UNIT 8 WARWICK HOUSE<br>18 FORGE LANE MINWORTH<br>SUTTON COLDFIELD<br>B76 1AH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year you started living at your current home address
          </dt>
          <dd class="govuk-summary-list__value">
            2022
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>


     

   
        <button class="govuk-button" data-module="govuk-button">I confirm my details are correct</button>

      </form>

    </div>
  </div>

{% endblock %}
