{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - When did you start living at this address
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/page-index/address-cri/confirm-addresses" method="post">

        <h1 class="govuk-heading-l">When did you start living at your current home address?</h1>

            <p style="text-align: left">
              UNIT 8 WARWICK HOUSE<br>
              18 FORGE LANE MINWORTH<br>
              SUTTON COLDFIELD<br>
              B76 1AH
          </p>
          
         
          {{ govukInput({
            label: {
              text: "Year"
            },
            hint: {
              text: "Enter the year you started living at this address, for example 2017"
            },
            classes: "govuk-input--width-4",
            id: "started-living-here",
            name: "started-living-here"
          }) }}
          
  
          <button class="govuk-button" type="submit" data-module="govuk-button"> Continue </button>
        </form>
    </div>
  </div>

{% endblock %}
