{% extends "layouts/main.html" %}

{% block pageTitle %}
 GOV.UK One Login - Ineligible for GOV.UK ID Check app
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

         
      <form class="form" action="/page-index/ipv-core/security-questions-intro" method="post">

      <h1 class="govuk-heading-l">
        You can confirm your identity by entering details about your documents and records

      </h1>

      <p>Based on what you've told us, this is the best option for you. You can choose this option on the next screen.</p>

   
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
