{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK One Login - DBS Start Page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#ß">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Working, jobs and pensions</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Finding a job</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Request a basic DBS check
      </h1>

    </div>
  </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

   <p>Apply for a basic Disclosure and Barring Service (DBS) check to get a copy of your criminal record. This is called ‘basic disclosure’. It costs £18. It’s available for people working in England and Wales.</p>

   <div class="govuk-inset-text">
  <p class="govuk-body">This guide is also available <a href="#" class="govuk-link">in Welsh (Cymraeg)</a>.</p>
  </div>

  <p>You can also get a basic DBS check if you live in Northern Ireland or Scotland but the job you’re applying for is in England or Wales.</p>

  <div class="govuk-inset-text">
    <p class="govuk-body">There’s a different way to apply if you’re <a href="#" class="govuk-link"> applying for a job in Northern Ireland</a> or <a href="#" class="govuk-link"> applying for a job in Scotland</a>.</p>
    </div>


    <p>The check will only show convictions that are not ‘spent’, for example some types of caution will disappear after 3 months.</p>

    <p>You must be 16 or over to apply.</p>

    <p>It usually takes up to 14 days for you to receive your certificate.</p>

    <h2 class="govuk-heading-m">What you’ll need</h2>

    <p class="govuk-body">To apply for a basic DBS check you’ll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>all your addresses for the last 5 years and the dates you lived there</li>
      <li>your National Insurance number</li>
      <li>your passport</li>
      <li>your driving licence</li>
    </ul>

    <h2 class="govuk-heading-m">Apply online</h2>

    <p>The service is available from 8am to 11:30pm.</p>

      <a href="/page-index/dbs/agree-to-terms" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">Make sure a basic DBS check is the correct one for you. For certain roles, your employer may need to apply for a higher level of criminal record check.</p>

      <p class="govuk-body"><a href="#" class="govuk-link">Find out if you need a basic DBS check</a> or ask your employer if you’re not sure.</p>



      <h2 class="govuk-heading-m">How to pay</h2>

      <p class="govuk-body">You can pay for a basic DBS check yourself or you can get someone to pay for you - for example, an employer or relative.      </p>

      <p class="govuk-body">You can pay with a debit or credit card. You can also use Google Pay or Apple Pay.</p>

      <p class="govuk-body">If you pay the fee yourself, you need to pay it when you apply.</p>

      <p class="govuk-body">If someone else pays, they must pay the fee within 10 days of your application being submitted.</p>



      <h2 class="govuk-heading-m">Get help to use the online service</h2>

      <p class="govuk-body">If you need support to apply online, call the DBS helpline on 03000 200 190 and select option 2 and then option 1.</p>



      <h2 class="govuk-heading-m">Other ways to apply</h2>

      <p class="govuk-body">You can also choose to apply through other companies. DBS has a <a href="#" class="govuk-link">list of companies</a> you can apply through.</p>



      <h2 class="govuk-heading-m">Requesting your police record</h2>

      <p class="govuk-body">You’ll need to <a href="#" class="govuk-link">request a police record</a> instead if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you’re applying for certain visas</li>
      <li>you want to see your police file without receiving a certificate - this will show up any warnings or cautions that are not on your official criminal record</li>
    </ul>


    <h2 class="govuk-heading-m">Transgender applications</h2>

      <p class="govuk-body">Contact the DBS transgender applications team if you’re a transgender applicant and you do not want to reveal details of your previous identity to a potential employer.</p>

      <div class="contact" style="border-left: 1px solid #b1b4b6; padding-left: 15px; margin-bottom: 30px; margin-top: 30px;">
        <p><strong>DBS transgender applications team</strong><br>
          <a href="javascript:void(0)">sensitive@dbs.gov.uk</a><br>
          Telephone: 0151 676 1452<br>
          Monday to Friday, 9am to 5pm<br>
          <a href="javascript:void(0)">Find out about call charges</a></p>
      </div>

      






    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Criminal record checks when you apply for a role
              </a>
            </li>
            <li>
              <a href="#">
                Find out which DBS check is right for your employee
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
  
          </main>
        </div>
{% endblock %}
