{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your phone
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<body data-module="edge">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>


  <a class="govuk-back-link" href="/user-research/round1/Task-2/enter-phone-number">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#code">The security code you entered is not correct, or may have expired, try entering it again or request a new  code</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <h1 class="govuk-heading-l">Check your phone</h1>

      <div class="govuk-inset-text">We have sent a code to *******7137.</div>

      <p class="govuk-body">It might take a few minutes to arrive. The code will expire after 15 minutes.</p>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="code">
            Enter the 6 digit security code
        </label>
        <p id="security-code-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> The security code you entered is not correct, or may have expired, try entering it again or request a new code
        </p>
        <input class="govuk-input govuk-input--width-10 govuk-input--error" id="code" name="code" type="text" spellcheck="false" autocomplete="one-time-code" inputmode="numeric">
    </div>


 <form class="form" action="#" method="post">


        <button type="Submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
          Continue
      </button>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Problems with the code?
          </span>
        </summary>
        <div class="govuk-details__text">
          
      
            
          <p class="govuk-body">
            We can 
            <a href="#" class="govuk-link" rel="noreferrer noopener">send the code again</a>
             or you can 
            <a href="#" class="govuk-link" rel="noreferrer noopener">use a different phone number</a>.
          </p>
      
          
        </div>
      </details>
      


      </form>

    </div>
  </div>

{% endblock %}

{% block footer %}

{% include "includes/current-footer.njk" %}

{% endblock %}
