{% extends "layouts/main.html" %}

{% block pageTitle %}
Get help with GOV.UK One Login
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "About GOV.UK One Login",
        href: "#"
      },
      {
        text: "Get help with GOV.UK One Login"
      }
    ]
  }) }}

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Get help with GOV.UK One Login</h1>

<h2 class="govuk-heading-l">Ways to get help</h2>


<h3 class="govuk-heading-m">Website</h3>

<p class="govuk-body"> If you’re having a problem with:</p>
<ul class="govuk-list govuk-list--bullet" data-module="edge">
  <li><a class="govuk-link" href="#">Downloading and using the GOV.UK One Login app</a></li>
  <li><a class="govuk-link" href="#">Scanning your passport or biometric residence permit</a></li>
  <li><a class="govuk-link" href="#">Taking a photo of your face</a></li>
  <li><a class="govuk-link" href="/user-research/round1/Task-2/security-code-guidance">Getting a security code</a></li>
  <li><a class="govuk-link" href="#">Changing your password or email address</a></li>
  <li><a class="govuk-link" href="#">Deleting your GOV.UK One Login</a></li>
</ul>


<h3 class="govuk-heading-m">Webchat</h3>


<p class="govuk-body">Ask GOV.UK One Login’s digital assistant to find information to help you.</p>

<p class="govuk-body" data-module="edge">
  <a href="#" class="govuk-link">Use webchat</a>
</p>


<h3 class="govuk-heading-m">Phone</h3>

<div class="contact">
  <p>From the UK:<br><strong>0300 123 2345</strong></p>
  <p>Outside the UK:<br><strong>+44 117 393 3928</strong></p>
</div>

<p class="govuk-body">Opening times:</p>

<p class="govuk-body">Monday to Friday, 8am to 8pm<br>Weekends and public holidays, 8am to 5.30pm</p>

<p class="govuk-body" data-module="edge"><a href="#" class="govuk-link">Find out about call charges</a></p>



<h3 class="govuk-heading-m">Email</h3>

<p class="govuk-body" data-module="edge"><a href="#" class="govuk-link">Use our email service</a> to ask for help.</p>


<p class="govuk-body">We will respond to your support queries during office hours. Our office hours are 9:30am to 5:30pm, Monday to Friday.</p>

<p class="govuk-body">We will try to reply within 2 working days.</p>


    </div>
  </div>

{% endblock %}

{% block footer %}

{% include "includes/govuk.njk" %}

{% endblock %}
