{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK One Login - DBS Privacy Policy
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Privacy policy declaration
      </h1>

      <form class="form" action="/page-index/dbs/prove-your-identity" method="post">

        <p>By continuing with your application, you confirm that:</p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="dbs-hint">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="dbs-privacy" name="dbs-privacy" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="dbs-privacy">
                  I have read and understood the basic DBS check online application <a href="#" class="govuk-link">privacy policy (opens in a new tab)</a>, which explains how the DBS will process my personal data when I apply online, before my application has been submitted.
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
