{% extends "layouts/main.html" %}

{% block pageTitle %}
 Footer link example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">


        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "mortgage-payments",
          fieldset: {
            legend: {
              text: "How much of your loan do you pay back every month?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Think about the amount you agreed to pay back every month on a personal loan. This does not include hire purchase agreements, second mortgages, home credit loans or student loans. You can find this amount on your loan agreement."
          },
          items: [
            {
              value: "UP TO £200",
              text: "UP TO £200"
            },
            {
              value: "OVER £200 UP TO £400",
              text: "OVER £200 UP TO £400"
            },
            {
              value: "OVER £400 UP TO £600",
              text: "OVER £400 UP TO £600"
            },
            {
              value: "OVER £600 UP TO £800",
              text: "OVER £600 UP TO £800"
            },
            { 
              value: "NONE OF THE ABOVE / DOES NOT APPLY",
              text: "NONE OF THE ABOVE / DOES NOT APPLY"
            }
          ]
        }) }}

      
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

      <p><a class="govuk-link" href="#">I cannot answer this question</a></p>

    </div>
  </div>
    
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    
      <div class="govuk-footer__navigation">
        
         
        
          <div class="govuk-footer__section govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Support</h2>
            
              
              <ul class="govuk-footer__list govuk-footer__list--columns-1">
                
                  
                    <li class="govuk-footer__list-item">
                      <a class="govuk-footer__link" href="#">
                        Get help with GOV.UK One Login
                      </a>
                    </li>
                  
                  
                
              </ul>
            
          </div>
        
      </div>
      <hr class="govuk-footer__section-break">
    
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        
          <h2 class="govuk-visually-hidden">Support links</h2>
          
            <ul class="govuk-footer__inline-list">
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Accessibility statement
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Cookies
                  </a>
                </li>
              
                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Terms and conditions
                  </a>
                </li>

                <li class="govuk-footer__inline-list-item">
                  <a class="govuk-footer__link" href="#">
                    Privacy notice
                  </a>
                </li>
              
            </ul>
          
          
            <div class="govuk-footer__meta-custom">
              Built by the <a href="#" class="govuk-footer__link">Government Digital Service</a>
            </div>
          
        
        <svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"></path>
        </svg>
        <span class="govuk-footer__licence-description">
          
            All content is available under the
            <a class="govuk-footer__link" href="#" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo" href="#">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}

