{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Help users get support example
{% endblock %}

{% block content %}
<aside class="getting-help-container govuk-width-container" id="footer" aria-labelledby="get-help">
  <div class="govuk-body govuk-!-margin-bottom-6">
    <details class="govuk-details">
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Contact us for help</span>
      </summary>
      
          <div class="govuk-details__text">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Web chat</h2>
              <p class="govuk-body govuk-!-margin-bottom-0">Get help by messaging an adviser online.</p>
              <p class="govuk-body">
              <a href="#" class="govuk-link">Start web chat (opens in new window)</a>
              </p>
          </div>

          <div class="govuk-details__text">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Telephone</h2>
              <p class="govuk-body govuk-!-margin-bottom-1">Talk to one of our advisers over the phone.</p>
    
              <div class="contact govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                <p>From the UK:<br><strong>0300 123 2345</strong></p>
                <p>Outside the UK:<br><strong>+44 117 393 3928</strong></p>
              </div>
              
              <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0">Monday to Friday, 8am to 8pm<br>Weekends and public holidays, 8am to 5.30pm</p>
              
              <p class="govuk-body govuk-!-margin-top-0"><a href="#" class="govuk-link">Find out about call charges</a></p>

            </div>

              <div class="govuk-details__text">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Email</h2>
              <p class="govuk-body govuk-!-margin-bottom-0">Get help by emailing an adviser.</p>
              <p class="govuk-body govuk-!-margin-bottom-0">We will try to reply within 2 working days.</p>
              <p class="govuk-body">
              <a href="#" class="govuk-link">Send email (opens in new tab)</a>
              </p>
          </div>
      
    </details>
    
  </div>
</aside>

{% endblock %}
