{% extends "layouts/main.html" %}

{% block pageTitle %}
  Exploratory concepts – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Design concepts</span>
      <h1 class="govuk-heading-xl">Get help link</h1>

    </div>

      
      </div>


  
      <h1 class="govuk-heading-l">1. Text link</h1>
      <p class="govuk-body">Placed at the bottom of page content (usually below the primary button).</p>
      <p class="govuk-body">Need to understand effort to implement and maintain if part of page content.</p>
 
 
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/mvp-concepts/text-link-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--s" src="/pattern-work/mvp-concepts/get-help-text-link" loading="eager" id="iFrameResizer0" style="overflow: auto; height: 120px;"></iframe>
      </div>

    </div>
  </div>

  <h1 class="govuk-heading-l">2. Text link (footer)</h1>
  <p class="govuk-body">Included within footer content but positioned above the GOV.UK Footer.</p>
  <p class="govuk-body">Explored as an alternative to option 1 for its potential ease of implementation and maintenance.</p>


<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <div class="app-example app-example--tabs">
    <div class="app-example__toolbar">
      <a href="/pattern-work/mvp-concepts/footer-link2-example" class="app-example__new-window" target="_blank">
        Open this
        <span class="govuk-visually-hidden">details</span>
        example in a new tab
      </a>
    </div>
    <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--footer2" src="/pattern-work/mvp-concepts/get-help-link2-footer" loading="eager" id="iFrameResizer0"></iframe>
  </div>

</div>
</div>


  

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">3. Footer with secondary navigation</h1>
      <p class="govuk-body">Secondary navigation used to provide route to support</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <div class="app-example app-example--tabs">
        <div class="app-example__toolbar">
          <a href="/pattern-work/mvp-concepts/footer-link-example" class="app-example__new-window" target="_blank">
            Open this
            <span class="govuk-visually-hidden">details</span>
            example in a new tab
          </a>
        </div>
        <!-- First iframe with custom height class -->
        <iframe title="Details example" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable app-example__frame--footer3" src="/pattern-work/mvp-concepts/get-help-link-footer" loading="eager" id="iFrameResizer0"></iframe>
      </div>
    </div>
  </div>
  
  

  


  
{% endblock %}
