{% extends "layouts/main.html" %}

{% block pageTitle %}
Help users to get help
{% endblock %}

{% block header %}
<header role="banner" class="dwp-header"> 
  <div class="govuk-width-container dwp-header__wrapper">
    <a href="/">GOV.UK One Login<span>Pattern Library</span></a>
  </div>
</header>
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-xl">Help users to</span>
      <h1 class="govuk-heading-xl">Get help</h1>

      <aside class="govuk-!-margin-bottom-8" aria-label="Guidance status">
        <strong class="govuk-tag govuk-!-margin-bottom-2">
          Experimental
        </strong>
        <p class="govuk-body">This pattern is currently experimental because more research is needed to validate it.</p>
      </aside>

      <p class="govuk-body">Help users get support when using your service.</p>

      <div class="app-example-wrapper" data-module="app-tabs">
        <div class="app-example app-example--tabs">

          <div class="app-example__toolbar">
            <a href="/pattern-work/mvp-concepts/get-support-example" class="app-example__new-window" target="_blank">
              Open this <span class="govuk-visually-hidden">contact a service pattern</span> example in a new tab
            </a>
          </div>

          <div class="app-example__component">
            <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <aside class="getting-help-container govuk-width-container" id="footer" aria-labelledby="get-help">
                    <div class="govuk-body govuk-!-margin-bottom-6">
                      <a class="govuk-link" href="#" target="_blank" rel="noopener noreferrer" id="get-help">
                        Contact us for help (opens in new tab)
                      </a>
                    </div>
                  </aside>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="app-tabs">
          <div class="app-tabs__list" role="tablist" aria-label="Component code examples tabs">
            <!-- Modify the HTML tab button to include an id attribute -->
            <button class="app-tabs__tab" data-tab-identifier="html-default" role="tab" id="tab_html-default" aria-controls="html-default" aria-expanded="false">HTML <span class="govuk-visually-hidden">for contact a service pattern</span></button>
          </div>

          <!-- Modify the hidden tab content to include an id attribute -->
          <div class="app-tabs__panel app-js-hidden" id="html-default" role="tabpanel" tabindex="0" aria-hidden="true" aria-labelledby="tab_html-default">
            <div class="app-example__code">
              <button class="app-example__copy-code-button" aria-live="assertive" data-module="html-default">Copy code</button>
              <pre style="margin: 0; padding: 0;">
                <code class="hljs" id="codeSnippet" style="color: #545555; font-style: italic; text-align: left; margin: 0; padding: 0;">
                  &lt;aside <span class="hljs-attr" style="color: #00703c;">class</span>=<span class="hljs-string" style="color: #d13118;">"getting-help-container govuk-width-container"</span> 
                                    <span class="hljs-attr" style="color: #00703c;">id</span>=<span class="hljs-string" style="color: #d13118;">"footer"</span> 
                                    <span class="hljs-attr" style="color: #00703c;">aria-labelledby</span>=<span class="hljs-string" style="color: #d13118;">"get-help"</span>&gt;
                                  &lt;div <span class="hljs-attr" style="color: #545555; font-style: italic;">class</span>=<span class="hljs-string" style="color: #d13118;">"govuk-body govuk-!-margin-bottom-6"</span>&gt;
                                      &lt;a <span class="hljs-attr" style="color: #00703c;">class</span>=<span class="hljs-string" style="color: #d13118;">"govuk-link"</span> 
                                         <span class="hljs-attr" style="color: #00703c;">href</span>=<span class="hljs-string" style="color: #d13118;">"#"</span> 
                                         <span class="hljs-attr" style="color: #00703c;">target</span>=<span class="hljs-string" style="color: #d13118;">"_blank"</span> 
                                         <span class="hljs-attr" style="color: #00703c;">rel</span>=<span class="hljs-string" style="color: #d13118;">"noopener noreferrer"</span> 
                                         <span class="hljs-attr" style="color: #00703c;">id</span>=<span class="hljs-string" style="color: #d13118;">"get-help"</span>&gt;
                                          Contact us for help (opens in a new tab)
                                      &lt;/a&gt;
                                  &lt;/div&gt;
                              &lt;/aside&gt;
                </code>
              </pre>
              
                
            
            
            
            
            
            
            
            </div>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-l">When to use this pattern</h2>

      <p class="govuk-body">Use this in the footer of every page of your service.</p>

      <p class="govuk-body">Placing this consistently across all pages helps users learn where to get help from anywhere within your service. </p>

      <p class="govuk-body">
        Consistent placement of help also aligns with <a href="https://www.w3.org/WAI/WCAG22/Understanding/consistent-help" class="govuk-link">WCAG 2.2 Success Criterion 3.2.6 Consistent Help (Level A)</a>.
      </p>

      <h2 class="govuk-heading-l">How it works</h2>

      <p class="govuk-body">Users are more likely to seek help when they have tried to solve a problem but are still having trouble.</p>

      <p class="govuk-body">Position this within the footer block of your page, right before the main GOV.UK footer.</p>

      <p class="govuk-body">This allows users to read the page guidance and try to fix problems on their own before seeking further help.</p>

      <h3 class="govuk-heading-m">Sharing contact details outside your service</h3>

      <p class="govuk-body">Use a link that opens in a new tab when you have to direct users away from your service to access contact or help information on another page.</p>

      <p class="govuk-body">Make it as easy as possible for users to navigate back to your service, as research has shown some users can experience difficulty switching between tabs or knowing how to return to a service page.</p>


      <div class="image">
        <figure>
          <img src="/public/images/example-page.svg" alt="Example of a Full-Page Template">
          <figcaption class="custom-figcaption">Example of a service page including the get help pattern.</figcaption>
        </figure>
      </div>
      
      







      <h3 class="govuk-heading-m">Sharing contact details within your service</h3>

      <p class="govuk-body">Use a details component when you want to share contact details within your service.</p>

      <p class="govuk-body">Consider how you might also link to web guidance alongside contact details.</p>

      <!-- Third Component -->
<div class="app-example-wrapper" data-module="app-tabs">
  <div class="app-example app-example--tabs">
    <div class="app-example__toolbar">
      <a href="/pattern-work/mvp-concepts/get-support-example3" class="app-example__new-window" target="_blank">
        Open this <span class="govuk-visually-hidden">contact a service pattern</span> example in a new tab
      </a>
    </div>

    <div class="app-example__component">
      <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <aside class="getting-help-container govuk-width-container" id="footer" aria-labelledby="get-help">
              <div class="govuk-body govuk-!-margin-bottom-6">
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">Contact us for help</span>
                  </summary>
                  
                      <div class="govuk-details__text">
                          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Web chat</h2>
                          <p class="govuk-body govuk-!-margin-bottom-0">Get help by messaging an adviser online.</p>
                          <p class="govuk-body">
                          <a href="#" class="govuk-link">Start web chat (opens in new window)</a>
                          </p>
                      </div>
            
                      <div class="govuk-details__text">
                          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Telephone</h2>
                          <p class="govuk-body govuk-!-margin-bottom-1">Talk to one of our advisers over the phone.</p>
                
                          <div class="contact govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                            <p>From the UK:<br><strong>0300 123 2345</strong></p>
                            <p>Outside the UK:<br><strong>+44 117 393 3928</strong></p>
                          </div>
                          
                          <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0">Monday to Friday, 8am to 8pm<br>Weekends and public holidays, 8am to 5.30pm</p>
                          
                          <p class="govuk-body govuk-!-margin-top-0"><a href="#" class="govuk-link">Find out about call charges</a></p>
            
                        </div>
            
                          <div class="govuk-details__text">
                          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Email</h2>
                          <p class="govuk-body govuk-!-margin-bottom-0">Get help by emailing an adviser.</p>
                          <p class="govuk-body govuk-!-margin-bottom-0">We will try to reply within 2 working days.</p>
                          <p class="govuk-body">
                          <a href="#" class="govuk-link">Send email (opens in new tab)</a>
                          </p>
                      </div>
                  
                </details>
                
              </div>
            </aside>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="app-tabs">
    <div class="app-tabs__list" role="tablist" aria-label="Component code examples tabs">
      <!-- Modify the HTML tab button to include a unique id attribute -->
      <button class="app-tabs__tab" data-tab-identifier="html-default3" role="tab" id="tab_html-default3" aria-controls="html-default3" aria-expanded="false">HTML <span class="govuk-visually-hidden">for contact a service pattern</span></button>
    </div>
  
    <!-- Modify the hidden tab content to include a unique id attribute -->
    <div class="app-tabs__panel app-js-hidden" id="html-default3" role="tabpanel" tabindex="0" aria-hidden="true" aria-labelledby="tab_html-default3">
      <div class="app-example__code">
        <button class="app-example__copy-code-button" aria-live="assertive" data-module="html-default3">Copy code</button>
        <pre style="margin: 0; padding: 40px 20px 20px 20px; overflow: auto; font-size: 16px; margin-bottom: 15px;">
          <code class="hljs" id="codeSnippet3" style="color: #24292e;">
            &lt;aside class="getting-help-container govuk-width-container" id="footer" aria-labelledby="get-help"&gt;
              &lt;div class="govuk-body govuk-!-margin-bottom-6"&gt;
                &lt;details class="govuk-details"&gt;
                  &lt;summary class="govuk-details__summary"&gt;
                    &lt;span class="govuk-details__summary-text"&gt;Contact us for help&lt;/span&gt;
                  &lt;/summary&gt;
  
                  &lt;div class="govuk-details__text"&gt;
                    &lt;h2 class="govuk-heading-m govuk-!-margin-bottom-0"&gt;Web chat&lt;/h2&gt;
                    &lt;p class="govuk-body govuk-!-margin-bottom-0"&gt;Get help by messaging an adviser online.&lt;/p&gt;
                    &lt;p class="govuk-body"&gt;
                      &lt;a href="#" class="govuk-link"&gt;Start web chat (opens in new window)&lt;/a&gt;
                    &lt;/p&gt;
                  &lt;/div&gt;
  
                  &lt;div class="govuk-details__text"&gt;
                    &lt;h2 class="govuk-heading-m govuk-!-margin-bottom-0"&gt;Telephone&lt;/h2&gt;
                    &lt;p class="govuk-body govuk-!-margin-bottom-1"&gt;Talk to one of our advisers over the phone.&lt;/p&gt;
  
                    &lt;div class="contact govuk-!-margin-top-4 govuk-!-margin-bottom-0"&gt;
                      &lt;p&gt;From the UK:&lt;br&gt;&lt;strong&gt;0300 123 2345&lt;/strong&gt;&lt;/p&gt;
                      &lt;p&gt;Outside the UK:&lt;br&gt;&lt;strong&gt;+44 117 393 3928&lt;/strong&gt;&lt;/p&gt;
                    &lt;/div&gt;
  
                    &lt;p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0"&gt;Monday to Friday, 8am to 8pm&lt;br&gt;Weekends and public holidays, 8am to 5.30pm&lt;/p&gt;
  
                    &lt;p class="govuk-body govuk-!-margin-top-0"&gt;&lt;a href="#" class="govuk-link"&gt;Find out about call charges&lt;/a&gt;&lt;/p&gt;
                  &lt;/div&gt;
  
                  &lt;div class="govuk-details__text"&gt;
                    &lt;h2 class="govuk-heading-m govuk-!-margin-bottom-0"&gt;Email&lt;/h2&gt;
                    &lt;p class="govuk-body govuk-!-margin-bottom-0"&gt;Get help by emailing an adviser.&lt;/p&gt;
                    &lt;p class="govuk-body govuk-!-margin-bottom-0"&gt;We will try to reply within 2 working days.&lt;/p&gt;
                    &lt;p class="govuk-body"&gt;
                      &lt;a href="#" class="govuk-link"&gt;Send email (opens in new tab)&lt;/a&gt;
                    &lt;/p&gt;
                  &lt;/div&gt;
  
                &lt;/details&gt;
              &lt;/div&gt;
            &lt;/aside&gt;
          </code>
        </pre>
      </div>
    </div>
  </div>
  
  


      <h3 class="govuk-heading-l">Research on this pattern</h3>

      <p class="govuk-body">This pattern was developed by the Central UCD team. The team tested this pattern as part of the broader GOV.UK One Login contact centre work. They ran 2 rounds of research with 12 participants in total.</p>

      <p class="govuk-body">The examples and guidance here are based on patterns used by HM Courts & Tribunals Service (HMCTS), Ministry of Justice (MoJ) and the GOV.UK Design System.</p>

      <h3 class="govuk-heading-m">Next steps</h3>

      <p class="govuk-body">Research is needed to work out:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>How users get help within the GOV.UK ID Check app</li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}

{% block pageScripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/javascript/application.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<script>
  jQuery(document).ready(function ($) {
    // JavaScript for the first component
    const htmlTabButton = $('#tab_html-default');
    const htmlTabContent = $('#html-default');

    htmlTabButton.on('click', function () {
      htmlTabContent.toggle();
    });

    // JavaScript for the second component
    const htmlTabButton1 = $('#tab_html-default1');
    const htmlTabContent1 = $('#html-default1');

    htmlTabButton1.on('click', function () {
      htmlTabContent1.toggle();
    });

    // JavaScript for the third component
    const htmlTabButton3 = $('#tab_html-default3');
    const htmlTabContent3 = $('#html-default3');

    htmlTabButton3.on('click', function () {
      htmlTabContent3.toggle();
    });
  });
</script>

<script>
  // Clipboard for the first component
  var clipboard = new ClipboardJS('.app-example__copy-code-button', {
    text: function(trigger) {
      var codeSnippet = $(trigger).closest('.app-example').find('code.hljs');
      return codeSnippet.text();
    }
  });

  clipboard.on('success', function(e) {
    // No message here, it will copy silently.
  });

  clipboard.on('error', function(e) {
    // No message here for errors.
  });

  // Clipboard for the second component
  var clipboard1 = new ClipboardJS('.app-example__copy-code-button1', {
    text: function(trigger) {
      var codeSnippet1 = $(trigger).closest('.app-example').find('code.hljs');
      return codeSnippet1.text();
    }
  });

  clipboard1.on('success', function(e) {
    // No message here, it will copy silently.
  });

  clipboard1.on('error', function(e) {
    // No message here for errors.
  });

  // Clipboard for the third component
  var clipboard3 = new ClipboardJS('.app-example__copy-code-button3', {
    text: function(trigger) {
      var codeSnippet3 = $(trigger).closest('.app-example').find('code.hljs');
      return codeSnippet3.text();
    }
  });

  clipboard3.on('success', function(e) {
    // No message here, it will copy silently.
  });

  clipboard3.on('error', function(e) {
    // No message here for errors.
  });
</script>
{% endblock %}



