{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter your name exactly as it appears on your photo ID
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      

<div class="govuk-grid-row">
<div class="govuk-grid-column-three-quarters">
  <h1 class="govuk-heading-l page-heading">Enter your name exactly as it appears on your photo ID</h1>
</div>
</div>



<form action="/enter-name-photo-id" method="POST" autocomplete="off" novalidate="true" spellcheck="false" onsubmit="window.disableFormSubmit()">



<div class="govuk-form-group">
<label class="govuk-label" id="surname-label" for="surname">
Last name
</label>

<input class="govuk-input govuk-!-width-full" id="surname" name="surname" type="text">

</div>



<p> Given names</p>

<div class="govuk-inset-text">



<div class="govuk-form-group">
<label class="govuk-label" id="firstName-label" for="firstName">
First name
</label>

<input class="govuk-input govuk-!-width-three-quarters" id="firstName" name="firstName" type="text">

</div>






<div class="govuk-form-group">
<label class="govuk-label" id="middleName-label" for="middleName">
Middle name(s)
</label>



<div id="middleName-hint" class="govuk-hint">
Leave this blank if you do not have any middle names
</div>

<input class="govuk-input govuk-!-width-three-quarters" id="middleName" name="middleName" type="text" aria-describedby="middleName-hint" aria-required="false">

</div>



</div>









<button name="continue" data-prevent-double-click="true" class="govuk-button button" data-module="govuk-button" id="continue">
Continue
</button>




  <input type="hidden" name="x-csrf-token" value="3x2yKXkt-jyowr5VpqfNBmmi3b40J3kWQ2ho">
</form>



  </div>
</div>


{% endblock %}
