{% extends "layouts/main.html" %}

{% block pageTitle %}
User journeys
{% endblock %}

{% block header %}
<header role="banner" class="dwp-header"> 
  <div class="govuk-width-container dwp-header__wrapper">
    <a href="/">GOV.UK One Login<span>User journeys</span></a>
  </div>
</header>

<header class="app-hero">
  <div class="app-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-0">

  <h1 class="gem-c-title__text govuk-title-heading-xl">
   User journeys
  </h1>
</div>
          <p class="app-hero__description govuk-body-l govuk-!-margin-bottom-3 app-hero__body--inverse">
            Explore common user journeys through GOV.UK One Login
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="app-whats-new">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper1">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 id="whats-new" class="govuk-heading-m">Work in progress</h2>
          <p class="govuk-body">
            This is a prototype and may not represent the live journey.</p>
            <p class="govuk-body">
              Some links won't currently work.</p>
        </div>
      </div>
      </div>
    </div>
  </div>







</header>

{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l">Creation and sign in journeys</h2>
<p class="govuk-body">Users will create a GOV.UK One Login for the first time, or sign in with an existing one to access a service or save their progress.</p>

</div>
</div>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Create a GOV.UK One Login
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">A user creates a GOV.UK One Login and chooses to get their security codes by text message.</p>
    </p>
  </div>
</div>

<div class="journey-pages">
  <div class="journey-page">
    <a href="/page-index/govuk/generic-start-page" target="_blank">Service start page</a>
    <iframe src="/page-index/govuk/generic-start-page" allowtransparency="true" tabindex="-1"></iframe>
  </div>
  <div class="arrow-container">
    <div class="arrow">→</div>
  </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account" target="_blank">Create or sign in</a>
          <iframe src="/page-index/authentication/create-account" allowtransparency="true"tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account/enter-email" target="_blank">Enter email</a>
          <iframe src="/page-index/authentication/create-account/enter-email" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/security-code-email" target="_blank">Email sent</a>
          <iframe src="/security-code-email" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account/check-email" target="_blank">Check email</a>
          <iframe src="/page-index/authentication/create-account/check-email" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account/create-password" target="_blank">Create password</a>
          <iframe src="/page-index/authentication/create-account/create-password" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account/get-security-code" target="_blank">2FA method</a>
          <iframe src="/page-index/authentication/create-account/get-security-code" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account/enter-phone-number" target="_blank">Phone number</a>
          <iframe src="/page-index/authentication/create-account/enter-phone-number" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account/check-phone" target="_blank">Check phone</a>
          <iframe src="/page-index/authentication/create-account/check-phone" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/ipv-core/signed-in" target="_blank">Signed in</a>
          <iframe src="/page-index/ipv-core/signed-in" allowtransparency="true" tabindex="-1"></iframe>
        </div>
      </div>
</details>


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Sign in to GOV.UK One Login
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">A user signs into GOV.UK One Login and uses an authentication app for 2nd factor authentication</p>
    </p>
  </div>
</div>

<div class="journey-pages">
  <div class="journey-page">
    <a href="/page-index/govuk/generic-start-page" target="_blank">Service start page</a>
    <iframe src="/page-index/govuk/generic-start-page" allowtransparency="true" tabindex="-1"></iframe>
  </div>
  <div class="arrow-container">
    <div class="arrow">→</div>
  </div>
        <div class="journey-page">
          <a href="/page-index/authentication/create-account" target="_blank">Create or sign in</a>
          <iframe src="/page-index/authentication/create-account" allowtransparency="true"tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/sign-in/enter-email" target="_blank">Enter email</a>
          <iframe src="/page-index/authentication/sign-in/enter-email" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/sign-in/create-password" target="_blank">Enter password</a>
          <iframe src="/page-index/authentication/sign-in/create-password" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/authentication/sign-in/enter-app-code" target="_blank">Enter app code</a>
          <iframe src="/page-index/authentication/sign-in/enter-app-code" allowtransparency="true" tabindex="-1"></iframe>
        </div>
      </div>
</details>


<hr aria-hidden="true" class="govuk-section-break govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Identity checking journeys</h2>
<p class="govuk-body">Users will answer some eligibility questions and complete the identity checking journey best suited to them.</p>

</div>
</div>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      App route
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">A user scans the chip in their biometric passport with the app on an iPhone to prove their identity</p>
    </p>
  </div>
</div>

<div class="journey-pages">
  <div class="journey-page">
    <a href="/page-index/ipv-core/types-of-id" target="_blank">ID screener</a>
    <iframe src="/page-index/ipv-core/types-of-id" allowtransparency="true" tabindex="-1"></iframe>
  </div>
  <div class="arrow-container">
    <div class="arrow">→</div>
  </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/computer-or-tablet" target="_blank">Computer or tablet</a>
          <iframe src="/page-index/app-cri/computer-or-tablet" allowtransparency="true"tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/have-a-smartphone" target="_blank">Have a smartphone</a>
          <iframe src="/page-index/app-cri/have-a-smartphone" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/valid-passport" target="_blank">Valid passport</a>
          <iframe src="/page-index/app-cri/valid-passport" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/biometric-passport" target="_blank">Biometric chip</a>
          <iframe src="/page-index/app-cri/biometric-passport" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/iphone-model" target="_blank">iPhone model</a>
          <iframe src="/page-index/app-cri/iphone-model" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/use-app-passport" target="_blank">Use app (passport)</a>
          <iframe src="/page-index/app-cri/use-app-passport" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/working-camera" target="_blank">Working camera</a>
          <iframe src="/page-index/app-cri/working-camera" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/flashing-colours" target="_blank">Flashing colours</a>
          <iframe src="/page-index/app-cri/flashing-colours" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/download-app" target="_blank">Download app</a>
          <iframe src="/page-index/app-cri/download-app" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="" target="_blank">Uses app</a>
          <iframe src="" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/ipv-core/match-successful" target="_blank">Match successful</a>
          <iframe src="/page-index/ipv-core/match-successful" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/find-current-address" target="_blank">Find address</a>
          <iframe src="/page-index/address-cri/find-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/choose-current-address" target="_blank">Choose address</a>
          <iframe src="/page-index/address-cri/choose-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/edit-current-address" target="_blank">Check address</a>
          <iframe src="/page-index/address-cri/edit-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/confirm-addresses" target="_blank">Confirm details</a>
          <iframe src="/page-index/address-cri/confirm-addresses" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/fraud-cri/fraud-check" target="_blank">Fraud check</a>
          <iframe src="/page-index/fraud-cri/fraud-check" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/ipv-core/proved-identity" target="_blank">Proved identity</a>
          <iframe src="/page-index/ipv-core/proved-identity" allowtransparency="true" tabindex="-1"></iframe>
        </div>
      </div>
</details>

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Web route
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">A user proves their identity by entering their UK passport or UK driving licence details and answering security questions.</p>
    </p>
  </div>
</div>

<div class="journey-pages">
  <div class="journey-page">
    <a href="/page-index/ipv-core/types-of-id" target="_blank">ID screener</a>
    <iframe src="/page-index/ipv-core/types-of-id" allowtransparency="true" tabindex="-1"></iframe>
  </div>
  <div class="arrow-container">
    <div class="arrow">→</div>
  </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/computer-or-tablet" target="_blank">Computer or tablet</a>
          <iframe src="/page-index/app-cri/computer-or-tablet" allowtransparency="true"tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/app-cri/on-a-smartphone" target="_blank">On a smartphone</a>
          <iframe src="/page-index/app-cri/on-a-smartphone" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/ipv-core/security-questions-intro" target="_blank">Web route intro</a>
          <iframe src="/page-index/ipv-core/security-questions-intro" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/passport-cri/enter-passport-details" target="_blank">Passport details</a>
          <iframe src="/page-index/passport-cri/enter-passport-details" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/find-current-address" target="_blank">Find address</a>
          <iframe src="/page-index/address-cri/find-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/choose-current-address" target="_blank">Choose address</a>
          <iframe src="/page-index/address-cri/choose-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/edit-current-address" target="_blank">Check address</a>
          <iframe src="/page-index/address-cri/edit-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/confirm-addresses" target="_blank">Confirm details</a>
          <iframe src="/page-index/address-cri/confirm-addresses" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/fraud-cri/fraud-check" target="_blank">Fraud check</a>
          <iframe src="/page-index/fraud-cri/fraud-check" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/kbv-cri/kbv-start" target="_blank">Security questions</a>
          <iframe src="/page-index/kbv-cri/kbv-start" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/kbv-cri/mortgage-balance" target="_blank">Mortgage balance</a>
          <iframe src="/page-index/kbv-cri/mortgage-balance" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/kbv-cri/mortgage-payments" target="_blank">Mortgage payment</a>
          <iframe src="/page-index/kbv-cri/mortgage-payments" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/kbv-cri/date-account-opened" target="_blank">Account opened</a>
          <iframe src="/page-index/kbv-cri/date-account-opened" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/kbv-cri/started-phone-contract" target="_blank">Phone contract</a>
          <iframe src="/page-index/kbv-cri/started-phone-contract" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/ipv-core/proved-identity" target="_blank">Proved identity</a>
          <iframe src="/page-index/ipv-core/proved-identity" allowtransparency="true" tabindex="-1"></iframe>
        </div>
      
      </div>
</details>


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      In person route
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">A user enters details from their photo ID on GOV.UK and takes their photo ID to the post office to prove their identity.</p>
    </p>
  </div>
</div>

<div class="journey-pages">
  <div class="journey-page">
    <a href="/page-index/ipv-core/types-of-id" target="_blank">ID screener</a>
    <iframe src="/page-index/ipv-core/types-of-id" allowtransparency="true" tabindex="-1"></iframe>
  </div>
  <div class="arrow-container">
    <div class="arrow">→</div>
  </div>
        <div class="journey-page">
          <a href="/page-index/ipv-core/id-screener-2" target="_blank">ID screener 2</a>
          <iframe src="/page-index/ipv-core/id-screener-2" allowtransparency="true"tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/claimed-identity-cri/name" target="_blank">Enter name</a>
          <iframe src="/page-index/claimed-identity-cri/name" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/claimed-identity-cri/date-of-birth" target="_blank">Date of birth</a>
          <iframe src="/page-index/claimed-identity-cri/date-of-birth" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/claimed-identity-cri/check-details" target="_blank">Check details</a>
          <iframe src="/page-index/claimed-identity-cri/check-details" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/find-current-address" target="_blank">Find address</a>
          <iframe src="/page-index/address-cri/find-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/choose-current-address" target="_blank">Choose address</a>
          <iframe src="/page-index/address-cri/choose-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/edit-current-address" target="_blank">Check address</a>
          <iframe src="/page-index/address-cri/edit-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/address-cri/confirm-addresses" target="_blank">Confirm details</a>
          <iframe src="/page-index/address-cri/confirm-addresses" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/fraud-cri/fraud-check" target="_blank">Fraud check</a>
          <iframe src="/page-index/fraud-cri/fraud-check" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/f2f-cri/intro-page" target="_blank">Intro page</a>
          <iframe src="/page-index/f2f-cri/intro-page" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/f2f-cri/choose-id" target="_blank">Choose ID</a>
          <iframe src="/page-index/f2f-cri/choose-id" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        <div class="journey-page">
          <a href="/page-index/f2f-cri/expiry-date" target="_blank">Expiry date</a>
          <iframe src="/page-index/f2f-cri/expiry-date" allowtransparency="true" tabindex="-1"></iframe>
        </div>
        <div class="arrow-container">
          <div class="arrow">→</div>
        </div>
        
      
      </div>
</details>

<hr aria-hidden="true" class="govuk-section-break govuk-section-break--l">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">The signed in experience</h2>
<p class="govuk-body">Users can navigate from the service they’re in to their GOV.UK One Login to change their sign in details.</p>

</div>
</div>


<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Example journey
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Placeholder</p>
    </p>
  </div>
</div>

</details>



{% endblock %}


{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}
