{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK One Login Design
{% endblock %}

{% block header %}
<header role="banner" class="dwp-header"> 
  <div class="govuk-width-container dwp-header__wrapper">
    <a href="/">GOV.UK One Login<span>Design resources </span></a><span></span>
  </div>
</header>

<header class="app-hero">
  <div class="app-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-0">

  <h1 class="gem-c-title__text govuk-title-heading-xl">
   Design resources
  </h1>
</div>
          <p class="app-hero__description govuk-body-l govuk-!-margin-bottom-3 app-hero__body--inverse">
            Links to useful information and other resources to support the design and improvement of GOV.UK One Login
          </p>
        </div>
      </div>
    </div>
  </div>


</header>

{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    </div>
  </div>

      <h2 class="govuk-heading-m">Explore GOV.UK One Login</h2>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-5">
            <strong class="govuk-tag govuk-tag--yellow">
              Work in progress
            </strong>
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">User journeys</h2>
          <div class="govuk-body app-c-result-card__description">
          <p>View common user journeys through GOV.UK One Login</p>
          </div>
          <a class="govuk-link app-c-result-card__link" data-track-category="SmartAnswerClicked" data-track-action="Cost of living results" data-track-label="/jobseekers-allowance" href="/user-journeys">Go to user journeys</a>
          </div>
            </div>
       

        <div class="govuk-grid-column-one-third">
          <div class="app-c-result-card govuk-!-margin-top-5">
            <strong class="govuk-tag govuk-tag--yellow">
              Work in progress
            </strong>
          <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-2">Page index</h2>
          <div class="govuk-body app-c-result-card__description">
          <p>Jump to a specific GOV.UK One Login page.</p>
          </div>
          <a class="govuk-link app-c-result-card__link" data-track-category="SmartAnswerClicked" data-track-action="Cost of living results" data-track-label="/jobseekers-allowance" href="/page-index">Go to page index</a>
          </div>
            </div>
          </div>
      
       

      <hr aria-hidden="true" class="govuk-section-break govuk-section-break--visible govuk-section-break--l">



  









{% endblock %}


{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}
