{% extends "layouts/main.html" %}

{% block pageTitle %}
Page index
{% endblock %}

{% block header %}
<header role="banner" class="dwp-header"> 
  <div class="govuk-width-container dwp-header__wrapper">
    <a href="/">GOV.UK One Login<span>Design resources</span></a>
  </div>
</header>

<header class="app-hero">
  <div class="app-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          

<div class="gem-c-title gem-c-title--inverse govuk-!-margin-top-0">

  <h1 class="gem-c-title__text govuk-title-heading-xl">
   Page index
  </h1>
</div>
          <p class="app-hero__description govuk-body-l govuk-!-margin-bottom-3 app-hero__body--inverse">
            Explore all GOV.UK One Login service pages
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="app-whats-new">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper1">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 id="whats-new" class="govuk-heading-m">Updates</h2>
          <p class="govuk-body">
            This is a prototype and may not represent the live journey.</p>
            <p class="govuk-body">
              It was last updated in <B>March 2023</B>.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</header>

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    </div>
   
  <div class="page-index" style="margin-bottom: 50px;">
    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">GOV.UK</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/govuk/dbs-start-page" target="_blank">DBS start page</a>
          <div class="thumbnail">
            <iframe src="/page-index/govuk/dbs-start-page" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/govuk/generic-start-page" target="_blank">Generic start page</a>
        <div class="thumbnail">
          <iframe src="/page-index/govuk/generic-start-page" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>


    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">DBS</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/dbs/agree-to-terms" target="_blank">Agree to terms</a>
          <div class="thumbnail">
            <iframe src="/page-index/dbs/agree-to-terms" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/dbs/prove-your-identity" target="_blank">Prove your identity</a>
        <div class="thumbnail">
          <iframe src="/page-index/dbs/prove-your-identity" allowtransparency="true" tabindex="-1"></iframe>
        </div>
  </div>
    </div>


    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">Pre-auth</h2>
      <div class="page-index__pages">
      <div class="page-index__page">
        <a href="/page-index/pre-auth/identity-welcome" target="_blank">Identity welcome</a>
        <div class="thumbnail">
          <iframe src="/page-index/pre-auth/identity-welcome" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
    <div class="page-index__page">
      <a href="/page-index/pre-auth/identity-welcome-signed-in" target="_blank">Welcome (signed in)</a>
      <div class="thumbnail">
        <iframe src="/page-index/pre-auth/identity-welcome-signed-in" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
    <div class="page-index__page">
      <a href="/page-index/pre-auth/id-screener" target="_blank">ID screener</a>
      <div class="thumbnail">
        <iframe src="/page-index/pre-auth/id-screener" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
    </div>
    
    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">Authentication</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/authentication/create-account" target="_blank">Create account</a>
          <div class="thumbnail">
            <iframe src="/page-index/authentication/create-account" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/authentication/create-account/enter-email" target="_blank">Enter email</a>
        <div class="thumbnail">
          <iframe src="/page-index/authentication/create-account/enter-email" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
    <div class="page-index__page">
      <a href="/page-index/authentication/create-account/check-email" target="_blank">Check email</a>
      <div class="thumbnail">
        <iframe src="/page-index/authentication/create-account/check-email" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/authentication/create-account/create-password" target="_blank">Create password</a>
    <div class="thumbnail">
      <iframe src="/page-index/authentication/create-account/create-password" allowtransparency="true" tabindex="-1"></iframe>
    </div>
     </div>
     <div class="page-index__page">
      <a href="/page-index/authentication/create-account/get-security-code" target="_blank">Get security code</a>
      <div class="thumbnail">
        <iframe src="/page-index/authentication/create-account/get-security-code" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/authentication/create-account/enter-phone-number" target="_blank">Enter phone number</a>
    <div class="thumbnail">
      <iframe src="/page-index/authentication/create-account/enter-phone-number" allowtransparency="true" tabindex="-1"></iframe>
    </div>
</div>
<div class="page-index__page">
  <a href="/page-index/authentication/create-account/check-phone" target="_blank">Check phone</a>
  <div class="thumbnail">
    <iframe src="/page-index/authentication/create-account/check-phone" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/authentication/create-account/auth-app" target="_blank">Set up auth app</a>
  <div class="thumbnail">
    <iframe src="/page-index/authentication/create-account/auth-app" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/authentication/sign-in/enter-email" target="_blank">Enter email (sign in)</a>
  <div class="thumbnail">
    <iframe src="/page-index/authentication/sign-in/enter-email" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/authentication/sign-in/create-password" target="_blank">Enter password (sign in) </a>
  <div class="thumbnail">
    <iframe src="/page-index/authentication/sign-in/create-password" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/authentication/sign-in/check-phone" target="_blank">Check phone (sign in)</a>
  <div class="thumbnail">
    <iframe src="/page-index/authentication/sign-in/check-phone" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/authentication/sign-in/enter-app-code" target="_blank">Enter app code (sign in)</a>
  <div class="thumbnail">
    <iframe src="/page-index/authentication/sign-in/enter-app-code" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
      </div>
    </div>


    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">IPV Core</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/ipv-core/types-of-id" target="_blank">ID screener</a>
          <div class="thumbnail">
            <iframe src="/page-index/ipv-core/types-of-id" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/ipv-core/id-screener-2" target="_blank">ID screener 2</a>
        <div class="thumbnail">
          <iframe src="/page-index/ipv-core/id-screener-2" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
      <div class="page-index__page">
        <a href="/page-index/ipv-core/security-questions-intro" target="_blank">Passport and KBV intro</a>
        <div class="thumbnail">
          <iframe src="/page-index/ipv-core/security-questions-intro" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
  <div class="page-index__page">
    <a href="/page-index/ipv-core/proved-identity" target="_blank">Proved identity</a>
    <div class="thumbnail">
      <iframe src="/page-index/ipv-core/proved-identity" allowtransparency="true" tabindex="-1"></iframe>
    </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/already-proved-identity" target="_blank">Already proved identity</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/already-proved-identity" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/continue-to-prove-identity" target="_blank">Continue to prove</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/continue-to-prove-identity" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/choose-how-to-prove-identity" target="_blank">Choose how to prove</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/choose-how-to-prove-identity" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/match-successful" target="_blank">Match successful</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/match-successful" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/kbv-another-way" target="_blank">KBV another way</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/kbv-another-way" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/f2f-another-way" target="_blank">F2F another way</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/f2f-another-way" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/not-enough-kbv-questions" target="_blank">Not enough questions</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/not-enough-kbv-questions" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/kbv-question-fail" target="_blank">KBV question fail</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/kbv-question-fail" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/fraud-check-fail" target="_blank">Fraud check fail</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/fraud-check-fail" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/technical-error" target="_blank">Technical error</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/technical-error" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/ipv-core/page-not-found" target="_blank">Page not found</a>
  <div class="thumbnail">
    <iframe src="/page-index/ipv-core/page-not-found" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
      </div>
    </div>
       

 
    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">APP CRI</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/app-cri/computer-or-tablet" target="_blank">Computer or tablet</a>
          <div class="thumbnail">
            <iframe src="/page-index/app-cri/computer-or-tablet" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/app-cri/have-a-smartphone" target="_blank">Have a smartphone</a>
        <div class="thumbnail">
          <iframe src="/page-index/app-cri/have-a-smartphone" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
    <div class="page-index__page">
      <a href="/page-index/app-cri/on-a-smartphone" target="_blank">On a smartphone</a>
      <div class="thumbnail">
        <iframe src="/page-index/app-cri/on-a-smartphone" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
    <div class="page-index__page">
      <a href="/page-index/app-cri/valid-passport" target="_blank">Valid passport</a>
      <div class="thumbnail">
        <iframe src="/page-index/app-cri/valid-passport" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/app-cri/biometric-passport" target="_blank">Biometric chip</a>
    <div class="thumbnail">
      <iframe src="/page-index/app-cri/biometric-passport" allowtransparency="true" tabindex="-1"></iframe>
    </div>
</div>
  <div class="page-index__page">
    <a href="/page-index/app-cri/driving-licence" target="_blank">Driving licence</a>
    <div class="thumbnail">
      <iframe src="/page-index/app-cri/driving-licence" allowtransparency="true" tabindex="-1"></iframe>
    </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/iphone-model" target="_blank">iPhone model</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/iphone-model" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/use-app-passport" target="_blank">Use app (passport)</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/use-app-passport" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/use-app-driving-licence" target="_blank">Use app (driving licence)</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/use-app-driving-licence" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/working-camera" target="_blank">Working camera</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/working-camera" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/flashing-colours" target="_blank">Flashing colours</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/flashing-colours" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/download-app" target="_blank">Download ID Check app</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/download-app" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/app-cri/ineligible" target="_blank">Ineligible</a>
  <div class="thumbnail">
    <iframe src="/page-index/app-cri/ineligible" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
      </div>
    </div>

    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">Document Checking App</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/document-checking-app/open-app" target="_blank">Open app</a>
          <div class="thumbnail">
            <iframe src="/page-index/document-checking-app/open-app" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/document-checking-app/give-permission" target="_blank">Give permission</a>
        <div class="thumbnail">
          <iframe src="/page-index/document-checking-app/give-permission" allowtransparency="true" tabindex="-1"></iframe>
        </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/link-session" target="_blank">Link session</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/link-session" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/front-of-licence-intro" target="_blank">Front of licence intro</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/front-of-licence-intro" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/allow-camera-access" target="_blank">Allow camera access</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/allow-camera-access" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/position-camera" target="_blank">Position camera</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/position-camera" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/submit-photo" target="_blank">Submit photo</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/submit-photo" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/back-of-licence-intro" target="_blank">Back of licence intro</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/back-of-licence-intro" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/position-camera-2" target="_blank">Position camera</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/position-camera-2" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/submit-photo-2" target="_blank">Submit photo</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/submit-photo-2" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/face-scan-intro" target="_blank">Face scan intro</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/face-scan-intro" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/position-face" target="_blank">Position face</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/position-face" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/scan-starts" target="_blank">Scan starts</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/scan-starts" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/scan-finishes" target="_blank">Scan finishes</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/scan-finishes" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/scan-submitted" target="_blank">Scan submitted</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/scan-submitted" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/document-checking-app/ready-to-exit-app" target="_blank">Ready to exit app</a>
    <div class="thumbnail">
      <iframe src="/page-index/document-checking-app/ready-to-exit-app" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>

  <div class="page-index__stage">
    <h2 class="page-index__stage-header govuk-heading-m">Claimed Identity CRI</h2>
    <div class="page-index__pages">
      <div class="page-index__page">
        <a href="/page-index/claimed-identity-cri/name" target="_blank">Enter your name</a>
        <div class="thumbnail">
          <iframe src="/page-index/claimed-identity-cri/name" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
    <div class="page-index__page">
      <a href="/page-index/claimed-identity-cri/date-of-birth" target="_blank">Date of birth</a>
      <div class="thumbnail">
        <iframe src="/page-index/claimed-identity-cri/date-of-birth" allowtransparency="true" tabindex="-1"></iframe>
      </div>
</div>
<div class="page-index__page">
  <a href="/page-index/claimed-identity-cri/check-details" target="_blank">Check details</a>
  <div class="thumbnail">
    <iframe src="/page-index/claimed-identity-cri/check-details" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>


    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">Passport CRI</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/passport-cri/enter-passport-details" target="_blank">Enter passport details</a>
          <div class="thumbnail">
            <iframe src="/page-index/passport-cri/enter-passport-details" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/passport-cri/technical-error" target="_blank">Techncial error</a>
        <div class="thumbnail">
          <iframe src="/page-index/passport-cri/technical-error" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>


    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">Address CRI</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/address-cri/address-intro" target="_blank">Address introduction</a>
          <div class="thumbnail">
            <iframe src="/page-index/address-cri/address-intro" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/address-cri/find-current-address" target="_blank">Find current address</a>
        <div class="thumbnail">
          <iframe src="/page-index/address-cri/find-current-address" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
    <div class="page-index__page">
      <a href="/page-index/address-cri/find-current-address-known" target="_blank">Find address (known)</a>
      <div class="thumbnail">
        <iframe src="/page-index/address-cri/find-current-address-known" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/address-cri/cannot-find-address" target="_blank">Can't find address</a>
    <div class="thumbnail">
      <iframe src="/page-index/address-cri/cannot-find-address" allowtransparency="true" tabindex="-1"></iframe>
    </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/choose-current-address" target="_blank">Choose current address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/choose-current-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/enter-current-address" target="_blank">Enter current address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/enter-current-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/edit-current-address" target="_blank">Edit current address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/edit-current-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/check-current-address" target="_blank">Check current address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/check-current-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/started-living-here" target="_blank">Started living here</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/started-living-here" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/more-than-three-months" target="_blank">More than 3 months</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/more-than-three-months" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/find-previous-address" target="_blank">Find previous address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/find-previous-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/choose-previous-address" target="_blank">Choose previous address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/choose-previous-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/check-previous-address" target="_blank">Check previous address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/check-previous-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/enter-previous-address" target="_blank">Enter previous address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/enter-previous-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/edit-previous-address" target="_blank">Edit previous address</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/edit-previous-address" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/confirm-addresses" target="_blank">Confirm addresses</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/confirm-addresses" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
<div class="page-index__page">
  <a href="/page-index/address-cri/technical-error" target="_blank">Technical error</a>
  <div class="thumbnail">
    <iframe src="/page-index/address-cri/technical-error" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
      </div>
    </div>


    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">Fraud CRI</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/fraud-cri/fraud-check" target="_blank">Fraud check</a>
          <div class="thumbnail">
            <iframe src="/page-index/fraud-cri/fraud-check" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      </div>
    </div>

    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">F2F CRI</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/f2f-cri/intro-page" target="_blank">Intro page</a>
          <div class="thumbnail">
            <iframe src="/page-index/f2f-cri/intro-page" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/f2f-cri/choose-id" target="_blank">Choose ID</a>
        <div class="thumbnail">
          <iframe src="/page-index/f2f-cri/choose-id" allowtransparency="true" tabindex="-1"></iframe>
        </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/expiry-date" target="_blank">Expiry date</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/expiry-date" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/find-post-office" target="_blank">Find a post office</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/find-post-office" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/choose-post-office" target="_blank">Choose a post office</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/choose-post-office" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/check-answers" target="_blank">Check answers</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/check-answers" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/confirmation" target="_blank">Confirmation</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/confirmation" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/go-to-post-office-email" target="_blank">Go to post office</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/go-to-post-office-email" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/f2f-cri/outcome-email" target="_blank">Outcome email</a>
    <div class="thumbnail">
      <iframe src="/page-index/f2f-cri/outcome-email" allowtransparency="true" tabindex="-1"></iframe>
    </div>
  </div>



    <div class="page-index__stage">
      <h2 class="page-index__stage-header govuk-heading-m">KBV CRI</h2>
      <div class="page-index__pages">
        <div class="page-index__page">
          <a href="/page-index/kbv-cri/kbv-start" target="_blank">Security questions</a>
          <div class="thumbnail">
            <iframe src="/page-index/kbv-cri/kbv-start" allowtransparency="true" tabindex="-1"></iframe>
          </div>
      </div>
      <div class="page-index__page">
        <a href="/page-index/kbv-cri/mortgage-balance" target="_blank">Mortgage balance</a>
        <div class="thumbnail">
          <iframe src="/page-index/kbv-cri/mortgage-balance" allowtransparency="true" tabindex="-1"></iframe>
        </div>
    </div>
    <div class="page-index__page">
      <a href="/page-index/kbv-cri/mortgage-payments" target="_blank">Mortgage payments</a>
      <div class="thumbnail">
        <iframe src="/page-index/kbv-cri/mortgage-payments" allowtransparency="true" tabindex="-1"></iframe>
      </div>
  </div>
  <div class="page-index__page">
    <a href="/page-index/kbv-cri/date-account-opened" target="_blank">Date account opened</a>
    <div class="thumbnail">
      <iframe src="/page-index/kbv-cri/date-account-opened" allowtransparency="true" tabindex="-1"></iframe>
    </div>
</div>
<div class="page-index__page">
  <a href="/page-index/kbv-cri/started-phone-contract" target="_blank">Started phone contract</a>
  <div class="thumbnail">
    <iframe src="/page-index/kbv-cri/started-phone-contract" allowtransparency="true" tabindex="-1"></iframe>
  </div>
</div>
      </div>
    </div>

    
    </div>
  </div>
</main>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo"></footer>
{% endblock %}