{% extends "layouts/main.html" %}

{% block pageTitle %}
 Enter you email
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container"></div>
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/exploratory-concepts/v1/send-email/report-problem-or-give-feedback" target="_blank">feedback (opens in new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Enter your email address to sign in to your GOV.UK One Login",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "sign-in-email",
        name: "sign-in-email",
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}



      <form class="form" action="/exploratory-concepts/v1/enter-password" method="post">

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
  
        </form>

      </form>

    </div>
  </div>

  {% endblock %}


  {% block footer %}

  {% include "includes/footer1.njk" %}
  
  {% endblock %}
