{% extends "layouts/main.html" %}

{% block pageTitle %}
Guidance page example 1
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "About GOV.UK One Login",
        href: "#"
      },
      {
        text: "Get help with GOV.UK One Login",
        href: "/exploratory-concepts/v1/contact-triage"
      },
      {
        text: "How to use GOV.UK One Login",
        href: "/exploratory-concepts/v1/guidance-hub"
      },
      {
        text: "Managing your GOV.UK One Login"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Managing your GOV.UK One Login
      </h1>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="/exploratory-concepts/v1/managing-guidance1">
                Changing your details
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Deleting your account
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Accessing your services list
              </a>
            </li>
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#">
                Checking your identity status
              </a>
            </li>
            <li aria-current="true" class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              Get help with GOV.UK One Login
            </li>
          </ol>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">
      
      <h2 class="govuk-heading-l">
        Get help with GOV.UK One Login
      </h2>
      
      <p class="govuk-body"><a class="govuk-link" href="/exploratory-concepts/v1/contact-triage">Contact GOV.UK One Login for help</a>.</p>


    </div>

    

  </main>
</div>





    </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
