{% extends "layouts/main.html" %}

{% block pageTitle %}
Guidance page example 2
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "About GOV.UK One Login",
        href: "#"
      },
      {
        text: "Get help with GOV.UK One Login",
        href: "/exploratory-concepts/v1/contact-triage"
      },
      {
        text: "How to use GOV.UK One Login",
        href: "/exploratory-concepts/v1/guidance-hub"
      },
      {
        text: "Managing your GOV.UK One Login"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Managing your GOV.UK One Login
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-8">Get help updating your details, deleting your account and checking your identity status</p>

      <main role="main" id="content" class="manual-section" lang="en">
        <div id="manuals-frontend" class="manuals-frontend-body">
      

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Changing your details
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>This is the content for changing your details.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Deleting your account
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>This is the content for deleting your account.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Accessing your services list
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>This is the content for accessing your services list.</p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Checking your identity status
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>This is the content for checking your identity status.</p>
              </div>
            </div>
          </div>

          <h2 class="govuk-heading-l">Further help</h2>

          <p class="govuk-body"><a class="govuk-link" href="/exploratory-concepts/v1/contact-triage">Contact GOV.UK One Login for help</a>.</p>
          

    

  </main>
</div>





    </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
