{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "About GOV.UK One Login",
        href: "#"
      },
      {
        text: "Get help with GOV.UK One Login",
        href: "/exploratory-concepts/v1/contact-triage"
      },
      {
        text: "Chat about GOV.UK One Login"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Chat about GOV.UK One Login</h1>

<div class="govuk-inset-text">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Office hours</h2>
 Monday to Friday, 9:30am to 5:30pm.
</div>



<hr class="govuk-section-break govuk-section-break--m govuk-section-break">

<h2 class="govuk-heading-l">Webchat</h2>

<p class="govuk-body">Advisors are available to chat.</p>

<p class="govuk-body" data-module="edge"><a href="#" class="govuk-link"> Speak to an advisor now (opens in new tab)</a>.</p>

    </div>
  </div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer " role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-shown">Useful links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/">
              Go to contact centre home
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/exploratory-concepts/index">
              Go to journey concepts
            </a>
          </li>
        </ul>
    </div>
  </div>
</footer>
{% endblock %}
